@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #B39FF8 transparent;
  
    /* Webkit Scrollbar */
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    /* Webkit Scrollbar Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    /* Webkit Scrollbar Thumb */
    &::-webkit-scrollbar-thumb {
      background-color: #B39FF8;
    }
  }

  .custom-scrollbar1 {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  
    /* Webkit Scrollbar */
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    /* Webkit Scrollbar Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    /* Webkit Scrollbar Thumb */
    &::-webkit-scrollbar-thumb {
      background-color: white;
    }
  }


  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  .marquee-container .rounded {
    display: inline-block;
    margin-right: 20px; /* Adjust the margin to control the spacing between cards */
    animation: marquee 20s linear infinite; /* Adjust animation duration as needed */
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

